.navContainer{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
}

.navList{
font-weight: bold;
background-color: rgb(11, 155, 160);
border: 2px solid rgb(56, 142, 247);
border-radius: 0.5rem;
padding: 0.25rem 1rem;
cursor: pointer;
}

.focusedTab{
    font-weight: bold;
    background-color: rgb(15, 227, 234);
    border: 2px solid rgb(56, 142, 247);
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    cursor: pointer;
    
}