.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.leftContainer{
width:50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
}
.rightContainer{
    width:50%;

}
.form{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.useridRow{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.passwordRow{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.loginBtn{
    background-color: rgb(14, 181, 210);
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0.25rem 2rem;
}
.ssoBtn{
    background-color: rgb(14, 181, 210);
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0.25rem 2rem;
}
.userText{
    width: 100px;
    background-color: rgb(176, 230, 240);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(91, 167, 213);
    text-align: center;
}
.passwordText{
    width: 100px;
    background-color: rgb(176, 230, 240);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(91, 167, 213);
    text-align: center;



}
.useridInput{
    flex: 1;
}
.passwordInput{
    flex: 1;
}
.imageContainer{
    width: 100%;
    height: 100%;
    background-position: center; 
    background-size: cover;
    /* margin-left: 2rem; */
   /* border-radius: 10rem 0 0 10rem ; */
   border-radius: 40% 0 0 40%;
}
.logoDiv{
    display: flex;
    gap:0.5rem;
    font-size: 1.5rem;
}
.loginLogoSysco{
    color: rgb(17, 194, 194) ;
}